# 依赖目录
node_modules/

# 小程序配置
project.private.config.json

# 系统文件
.DS_Store
Thumbs.db
bash.exe.stackdump

# 日志
*.log
npm-debug.log*

# 临时文件
*.tmp
*.temp
docs/error imgs/*
docs/imgs/*
.claude/settings.json
project.private.config.json
